<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
  </head>
  <body>
    <header>
      <div class="logo">Berezowski Family History Institute</div>
      <div class="menu">
        <input type="checkbox" id="menu-hidden-checkbox">
        <label for="menu-hidden-checkbox" class="menu-icon">&#9776;</label>
        <nav class="nav-main">
          <ul>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#berezowski">Berezowski</a></li>
            <li><a href="/#research">Research</a></li>
            <li><a href="/#archive">Archive</a></li>
            <li><a href="/#faq">F.A.Q.</a></li>
            <li><a href="/#contacts">Contacts</a></li>
            <li><a href="/#donate" class="green-button">Donate</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <span>Copyright &copy; 2026 Berezowski Family History Institute - All Rights Reserved.</span>
      <span>Incorporated under the Canada Not-for-profit Corporations Act, Corporation No. 1771648-6</span>
    </footer>
  </body>
</html>